.app-cart{
    display: flex;
    gap: 5%;
    padding: 1rem;
}

.product-list, .cart{
    width: 400px;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.item{
    list-style-type: none;
    border: 1px solid silver;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

.add-to-cart{
    padding: 0.5rem;
    background-color: rgb(89, 101, 238);
    color: white;
    width: 3rem;
    border: none;
    margin-left: 6rem;
    cursor: pointer;
}